{% extends "main/layout.html" %}
{% load static %}
{% block title %} <h1>Main PAGE</h1>{% endblock %}

{% block content %}
   <div class="features">
        <h1>Main page</h1>
        <p>Да это так! Беременность у слонов длится около 22 месяцев. Когда рождается слоненок, он весит около 90 килограммов и имеет высоту до метра. Малыши выпивают до трёх литров молока в день, а вскармливание длится до тех пор, пока слоненку не исполнится 2 года.</p>
        <article>
       <button class="btn btn-primary">На страницу про нас</button>

   </div>

{% endblock %}

